<form asp-action="ChangeClaim" asp-controller="Admin">
    <input type="text" name="email">
    <input type="text" name="newClaim">
    <input type="submit" value="submit">
</form>

<form asp-action="createRolesandUsers" asp-controller="Admin">
    <input type="submit" value="Add roles">
</form>