<form asp-action="ChangeClaim" asp-controller="Admin">
    <fieldset >
        <legend>Claim</legend>
        <input type="text" name="email" placeholder="Email">
        <input type="text" name="newClaim" placeholder="new claim">
        <input type="submit" value="submit">
    </fieldset>
</form>

<form asp-action="AddRole" asp-controller="Admin">
    <fieldset >
        <legend>Add role</legend>
        <input type="text" name="email" placeholder="Email">
        <input type="text" name="role" placeholder="Role to add">
        <input type="submit" value="submit">
    </fieldset>
</form>

<form asp-action="RemoveRole" asp-controller="Admin">
    <fieldset >
        <legend>Remove role</legend>
        <input type="text" name="email" placeholder="Email">
        <input type="text" name="role" placeholder="Role to remove">
        <input type="submit" value="submit">
    </fieldset>
</form>

<form asp-action="createRolesandUsers" asp-controller="Admin">
    <fieldset>
        <legend>Instantiate roles and users</legend>
        <input type="submit" value="Instantiate">
    </fieldset>
</form>

<form asp-action="WriteBook" asp-controller="Admin">
    <fieldset>
        <legend>Create book</legend>
        <input type="text" name="Title" placeholder="Title">
        <input type="text" name="Image" placeholder="Image">
        <input type="text" name="Price" placeholder="Price">
        <input type="text" name="ISBN10" placeholder="ISBN10">
        <input type="text" name="ISBN13" placeholder="ISBN13">
        <input type="text" name="Description" placeholder="Description">
        <input type="text" name="ReleaseDate" placeholder="ReleaseDate">
        <input type="radio" name="Visibility" placeholder="true" value="true">
        <input type="radio" name="Visibility" placeholder="false" value="false">
        <input type="submit" value="Post">
    </fieldset>
</form>