<!-- <form asp-action="ChangeClaim" asp-controller="Admin">
    <fieldset >
        <legend>Claim</legend>
        <input type="text" name="email" placeholder="Email">
        <input type="text" name="newClaim" placeholder="new claim">
        <input type="submit" value="submit">
    </fieldset>
</form>

<form asp-action="AddRole" asp-controller="Admin">
    <fieldset >
        <legend>Add role</legend>
        <input type="text" name="email" placeholder="Email">
        <input type="text" name="role" placeholder="Role to add">
        <input type="submit" value="submit">
    </fieldset>
</form>

<form asp-action="RemoveRole" asp-controller="Admin">
    <fieldset >
        <legend>Remove role</legend>
        <input type="text" name="email" placeholder="Email">
        <input type="text" name="role" placeholder="Role to remove">
        <input type="submit" value="submit">
    </fieldset>
</form>


<form asp-action="createRolesandUsers" asp-controller="Admin">
    <fieldset>
        <legend>Instantiate roles and users</legend>
        <input type="submit" value="Instantiate">
    </fieldset>
</form> -->


<div class="col-lg-12">
    <div id="admin-panel" class="panel col-lg-2">
        <div id="admin-manage-books" class="panel-body panel-selected">Manage books</div>
        <div id="admin-users" class="panel-body">Users</div>
        <div id="admin-reports" class="panel-body">Reports</div>
    </div>
    <div id="admin-main-box" class="col-lg-10">
        <div id="admin-buttons" class="col-lg-12">
            <div id="button" class="col-lg-6">
            </div>
            <div class="col-lg-6">
                <input type="text" name="search" id="search">
            </div>
        </div>
        <hr class="seperator">
        <div id="information" class="col-lg-12">
        </div>
        <div id="page-turn" class="col-lg-12">
            <div class="col-lg-3">
                <button id="prev" class="btn btn-primary col-lg-6">Prev</button>
            </div>
            <div class="col-lg-6"></div>
            <div class="col-lg-3">
                <button id="next" class="btn btn-primary col-lg-6">Next</button>
            </div>
        </div>
    </div>
</div>
