<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Nav</title>


        <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />-->
        <link rel="stylesheet" href="~/css/site.css" />

        <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">

        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/nav.css" type="text/css">
		<link rel="stylesheet" href="~/css/user/user.css" type="text/css">
		<link rel="stylesheet" href="~/css/Feedback/feedback.css" type="text/css">
		<link rel="stylesheet" href="~/css/Admin/admin.css" type="text/css">

</head>
<body>
    <div id="wrapper">   <!--Wrapper for the footer-->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="row row-width" id="upper-nav">
                <div class="col-sm-1"></div>
                
                <div class="col-sm-2 nav-height-control">
                    <a asp-controller="Home" asp-action="Index">
                      <img id="logo" src="~/images/LogoV2-W-text.png" alt="logo.png">
                      </a>
                </div>
                
                <div class="col-sm-6 nav-height-control">
                    <form asp-controller="Search" asp-action="Index">
                        <input type="text" id="search-input" name="title" placeholder="Search for a Title">
                        <button type="submit" id="search-btn" class="btn btn-info"><div><i id="search-icon" class="fa fa-search"></i></div></button>
                    </form>
                </div >

                <div class="col-sm-2 nav-height-control">
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>

            <div class="row row-width" id="lower-nav">
                <div class="col-sm-1"></div>


                <div class="col-sm-6">

                    <ul class="nav navbar-nav col-sm-2" id="mega-dropdown-container">
                        <button id="shop-by-replacement" class="lower-nav-link-hover">Shop by<span class="glyphicon glyphicon-chevron-down pull-right" id="mega-menu-arrow"></span></button>
                        <li class="dropdown mega-dropdown  lower-nav-link-hover" id="mega-dropdown-btn">
                            <ul class="dropdown-menu mega-dropdown-menu col-sm-8 dropdown-menu-width-override" id="mega-dropdown-menu">
                                <li class="col-sm-6 vertical-line-right">
                                    <ul>
                                        <li class="dropdown-header">Genre</li>
                                        <form asp-controller="Search" asp-action="Index">
                                          <button class="btn btn-link mega-item" name="genre" value="1">Horror</button>
                                        </form>
                                        <li><form asp-controller="Search" asp-action="Index">
                                          <button class="btn btn-link mega-item" name="genre" value="2">Sci fi</button>
                                        </form></li>
                                        <li><form asp-controller="Search" asp-action="Index">
                                          <button class="btn btn-link mega-item" name="genre" value="3">Romance</button>
                                        </form></li>
                                        <li><form asp-controller="Search" asp-action="Index">
                                          <button class="btn btn-link mega-item" name="genre" value="4">Thriller</button>
                                        </form></li>
                                        <li><form asp-controller="Search" asp-action="Index">
                                          <button class="btn btn-link mega-item" name="genre" value="5">Comedy</button>
                                        </form></li>
                                        <li><form asp-controller="Search" asp-action="Index">
                                          <button class="btn btn-link mega-item" name="genre" value="6">Education</button>
                                        </form></li>
                                    </ul>
                                </li>
                                
                                <li class="col-sm-6 vertical-line-left">
                                    <ul>
                                        <li class="dropdown-header">Authors</li>
                                        <li><form asp-controller="Search" asp-action="Index">
                                          <button class="btn btn-link mega-item" name="author" value="1">J.K Rowling</button>
                                        </form></li>
                                        <li><form asp-controller="Search" asp-action="Index">
                                          <button class="btn btn-link mega-item" name="author" value="2">Stephen King</button>
                                        </form></li>
                                        <li><form asp-controller="Search" asp-action="Index">
                                          <button class="btn btn-link mega-item" name="author" value="3">Imany</button>
                                        </form></li>
                                        <li><form asp-controller="Search" asp-action="Index">
                                          <button class="btn btn-link mega-item" name="author" value="4">Ginger Malfoy</button>
                                        </form></li>
                                        <li><form asp-controller="Search" asp-action="Index">
                                          <button class="btn btn-link mega-item" name="author" value="5">Sambrina Chichi</button>
                                        </form></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="navbar-header col-sm-2 lower-nav-link-hover">
                        <a asp-controller="Book" asp-action="Discount" class="nav-item" id="discount-link">On Sale</a>
                    </div>
                    <div class="navbar-header col-sm-2 lower-nav-link-hover">
                        <a asp-controller="Book" asp-action="Top10" class="nav-item" id="top-10-link">Top 10</a>
                    </div>
                    <div class="navbar-header col-sm-3 lower-nav-link-hover">
                        <a asp-controller="Search" asp-action="Index" class="nav-item" id="catalogue-link">Catalogue</a>
                    </div>
                    <div class="col-sm-3"></div>
                </div>

                <div class="col-sm-3"></div>

                <div class="col-sm-1" id="shopping-cart-effects">
                    <a id="shopping-icon-link" asp-controller="CheckOut" asp-action="Index">
                      <div id="shopping-cart-icon-container">
                          <i class="fas fa-shopping-cart" id="shopping-cart-icon"></i>
                          <h2 id="num-items-in-cart">0</h2>
                      </div>
                    </a>
                </div>
            </div>
        </nav>
        <div class="container body-content">
            @RenderBody()

        </div>
    </div>

    <footer class="navbar-inverse footer-settings footer">
        <div class="row row-width">
            
            <div class="col-sm-10 col-sm-offset-1">

              <div class="col-sm-4">
                  <h4>Contact us</h4>
                  
                  <a href="https://www.facebook.com"><img class="social-size" src="~/images/fbIcon.svg" alt="facebook logo"></a>
                  <a href="https://www.twitter.com"><img class="social-size" src="~/images/twIcon.svg" alt="twitter logo"></a>
                  <a href="https://instagram.com"><img class="social-size" src="~/images/igIcon.svg" alt="instagram logo"></a>
                      
              </div>

              <div class="col-sm-3">
                  <h4>About us</h4>
              </div>
              
              <div class="col-sm-5">
                <div class="col-sm-4">
                  <h4>Created by:</h4>
                </div>
                <div class="col-sm-8">
                  <ul class="created-by-ul">
                    <li class="created-by-li">
                      <a asp-controller="Home" asp-action="Error">Brynjar Örn Grétarsson</a>
                    </li>
                    <li class="created-by-li">
                      Daði Steinn Brynjarsson
                    </li>
                    <li class="created-by-li">
                      <a asp-controller="Home" asp-action="Error404">Ingi Þór Sigurðsson</a>
                    </li>
                    <li class="created-by-li">
                      Tyler Elías Jones
                    </li>
                  </ul>
                </div>
              </div>
            </div>
        </div>
    </footer>


    <environment exclude="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/nav.js" asp-append-version="true"></script>
        <script src="~/js/loginPopup.js" asp-append-version="true"></script>
    </environment>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/js/nav.js" asp-append-version="true"></script>
        <script src="~/js/loginPopup.js" asp-append-version="true"></script>
        <script src="~/js/userjs/user.js"></script>
        <script src="~/js/Admin/admin.js"></script>
        <script src="~/js/Book/BookDetails.js"></script>
        <script src="~/js/Admin/adminCreateHTML.js"></script>
    </environment>


    <script type="text/javascript">
    
    $( window ).ready(function() {
         $("#num-items-in-cart").html( getCookie("CartCount") );

        //Add item to cart
        $("#add-to-cart-btn").click(function() {
            var url = window.location.pathname.split('/');
            url = url.pop();

            var quantity = $("#book-qty").val();
            console.log(quantity);

            $.post(`/CheckOut/AddToCart?qty=${quantity}&id=${url}`,{}).done(function() {
                $("#num-items-in-cart").html( getCookie("CartCount") );
            }) 
        });

        //remove from cart
     /*   $(".delete-from-cart").click(function() {
            var bookId = $(".delete-from-cart").attr("name");

            $.post(`/CheckOut/RemoveFromCart?id=${bookId}`,{}).done(function() {
                $("#num-items-in-cart").html( getCookie("CartCount") );
            }).done(function() {
                location.reload();
            });
        });
    */

        //Edit cart
     /*   $(".update-cart").click(function() {
            var bookId = 0;
            var quantity = 0;

            $.post(`/CheckOut/EditCart?qty=${quantity}&id=${bookId}`,{}).done(function() {
                $("#num-items-in-cart").html( getCookie("CartCount") );
            }).done(function() {
                location.reload();
            });
        });
    */

    

    function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for(var i = 0; i <ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    });


/*
        $( window ).ready(function() {
                var idArr = (JSON.parse(localStorage.getItem("storage")));
                if(idArr != null) {
                    $("#num-items-in-cart").html(idArr.length);
                }
            

            $(".cart").click(function() {
            var Id = $(".book-title").attr("id");
            console.log(Id);
            let idArr = new Array();
            let tmpArr = new Array();
            tmpArr = (JSON.parse(localStorage.getItem("storage")));
            if(tmpArr == null) {
                idArr.push(Id);
            } else {
                idArr = (JSON.parse(localStorage.getItem("storage")));
                idArr.push(Id);
            }
            localStorage.setItem("storage", JSON.stringify(idArr))
            console.log(idArr);
            $("#num-items-in-cart").html(idArr.length);
            });

            $(".#shopping-cart-icon").click(function() {
                idArr = (JSON.parse(localStorage.getItem("storage")));
                console.log(idArr);
                
                //$.post( "Checkout/Index", idArr );

                
                $.ajax({
                    type: "POST",
                    url: 'CheckOut/Index',
                    data: JSON.stringify(idArr),
                    dataType: "html",
                    contentType: "application/json; charset=utf-8",
                    success: function (resp) {
                        console.log(resp);
                        //document.open();
                        //document.write(resp);
                        //document.close();
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
                


            });

        });
*/
        
    </script>


    @RenderSection("Scripts", required: false)
</body>
</html>
