@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using BookCave.Data.EntityModels

<head>
    <link rel="stylesheet" href="~/css/loginPopup.css" type="text/css">
    <!-- <link rel="stylesheet" href="~/css/accountShortcutPanel.css" type="text/css"> -->
</head>

@inject SignInManager<AspNetUsers> SignInManager 

@{
    var claim = ((ClaimsIdentity) User.Identity).Claims.FirstOrDefault(c => c.Type == "Name")?.Value;
}


@if (SignInManager.IsSignedIn(User))
{
    <div class="col-sm-6" id="login-account-container">
        <button asp-controller="User" asp-action="MyProfile" id="account-shortcut">Account</button>
    </div>
    <div class="col-sm-6" id="logout-btn-container">
        <form asp-action="LogOut" asp-controller="Account" method="post">
            <button type="submit" class="btn btn-link" id="logout">Log out</button>
        </form>
    </div>
    
}
else
{
    <div class="col-sm-6"></div>
    <div id="login-btn-container" class="col-sm-6">
        <p id="login">Login</p>
    </div>

    @await Html.PartialAsync("_LoginPopup", new BookCave.Models.ViewModels.LoginViewModel());
}
