@model BookCave.Models.ViewModels.LoginViewModel

<div class="popuptext" id="loginPopup">
    

    <h1 id="popup-form-title">Login</h1>

    <div id="popup-form-container">
        <form asp-action="Login" asp-controller="Account">
            <div class="form-group">
                <input type="email" asp-for="Email" class="form-control" placeholder="Enter email..">
            </div>
            <div class="form-group">
                <input type="password" asp-for="Password" class="form-control" placeholder="Enter password">
            </div>
            <div class="form-check">
                    <input type="checkbox" asp-for="RememberMe" class="form-check-input" id="sign-in-checkbox">
                    <label for="sign-in-checkbox" class="form-check-label">Remember me</label>
            </div>
            <div class="form-group">
                <button asp-controller="Account" asp-action="Register" class="btn btn-default">Register</button>
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    
        <a id="reset-password-link">Reset password</a>
    </div>

</div>