<head>
  <link rel="stylesheet" href="~/css/Home/index.css">
</head>

<div class="container">
  <div class="error col-sm-10 col-sm-offset-1">
    <div class="col-sm-8">
      <br>
      <span class="error-text text-danger">Oops!.. Looks like something went wrong!</span>
      <br><br>
      <div class="well">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati consequuntur rerum facere dolores optio eius quis reiciendis ex delectus ad? Nesciunt deserunt culpa, accusamus veritatis iste expedita dolorum sed mollitia.</p>
      </div>
    </div>
    
    <div class="img-container col-sm-4">
          <img src="~/images/brynjar.png" alt="Brynjar =D" class="img-thumbnail">
  </div>
  </div>
  
</div>