.row1 {
  background-color: White; 
  padding: 0px;
}

.book-item {
  margin: 10px 0px;
  font-size: 12px;
}

.item-img {
  height: 150px;
  width: 150px;  
  margin-bottom: 5px;
}

.book-item .item-img img {
  max-height: 100%;
  max-width: 100%;
}

.book-item p.title {
  font-size: 14px;
  color: black;
}

hr {
  display:block;
  width: 97%;               
  background-color:lightgray;
  height: 1px;
  margin: 0px auto;
}

.BookListTitle {
  margin-top: 10px; 
}