@{
    ViewData["Title"] = "Edit Account";
}

@model BookCave.Models.InputModels.ProfileInputModel

<div>
	<form method="post">
		<div>
			<table class="table-condensed">
				<tr>
					<td><label asp-for="Name">Name</label></td>
					<td><input type="text" class="form-control" asp-for="Name"></td>
					<td><span asp-validation-for="Name"></span></td>
				</tr>
				<tr>
					<td><label asp-for="Email">Email</label></td>
					<td><input type="email" class="form-control" asp-for="Email"></td>
					<td><span asp-validation-for="Email"></span></td>
				</tr>
				<tr>
					<td><label asp-for="BookTitle">Title</label></td>
					<td><input type="text" class="form-control" asp-for="BookTitle"></td>
					<td><span asp-validation-for="BookTitle"></span></td>
				</tr>
				<tr>
					<td><label asp-for="Author">Author</label></td>
					<td><input type="text" class="form-control" asp-for="Author"></td>
					<td><span asp-validation-for="Author"></span></td>
				</tr>
				<tr>
					<td><label for="asp-for">Image</label></td>
					<td><input type="file" asp-for="Image"></td>
					<td><span asp-validation-for="Image"></span></td>
				</tr>
			</table>
			<input type="submit" class="btn btn-primary" value="Save">
		</div>	
	</form>
</div>