@{
    ViewData["Title"] = "Edit Account";
}

@model BookCave.Models.InputModels.ProfileInputModel

<div>
	<form method="post">
		<div>
			<table class="table">
				<tr>
					<td><label asp-for="Name">Full name</label></td>
					<td><input type="text" class="form-control" asp-for="Name" placeholder="Anna Johnson"></td>
					<td><span asp-validation-for="Name"></span></td>
				</tr>
				<tr>
					<td><label asp-for="Email">Email</label></td>
					<td><input type="email" class="form-control" asp-for="Email" placeholder="example@example.com"></td>
					<td><span asp-validation-for="Email"></span></td>
				</tr>
				<tr>
					<td><label asp-for="BookTitle">Favorite book</label></td>
					<td><input type="text" class="form-control" asp-for="BookTitle" placeholder="Harry Potter"></td>
					<td><span asp-validation-for="BookTitle"></span></td>
				</tr>
				<tr>
					<td><label asp-for="Author">Favorite author</label></td>
					<td><input type="text" class="form-control" asp-for="Author" placeholder="J. K. Rowling"></td>
					<td><span asp-validation-for="Author"></span></td>
				</tr>
				<tr>
					<td><label asp-for="Image">Profile image (link)</label></td>
					<td><input type="url" class="form-control" asp-for="Image" placeholder="https://i.imgur.com/NmIbayR.png"></td>
					<td><p>Please input the entire url with the file ending</p></td>
					<td><span asp-validation-for="Image"></span></td>
				</tr>
			</table>
			<input type="submit" class="btn btn-primary" value="Save">
		</div>	
	</form>
</div>