@{
    ViewData["Title"] = "User Account";
}

<div id="main-box">
	<div  id="panel-box" class="panel panel-default">
		<div class="panel-heading panel-primary panel-font-heading">Panel heading</div>
		<div class="panel-body panel-content panel-selected">Profile</div>
		<div class="panel-body panel-content">Orders</div>
		<div class="panel-body panel-content">Wish list</div>
		<div class="panel-body panel-content">Bookshelf</div>
		<div class="panel-body panel-content">Settings</div>
		<div class="panel-body panel-content">Payment and shipping</div>
	</div>
	<div id="user-profile" class="user-information-box">
		This is the user profile
	</div>

	<div id="user-orders" class="user-information-box">
		This is his past orders
	</div>

	<div id="user-wish-list" class="user-information-box">
		This is his wish list
	</div>

	<div id="user-bookshelf" class="user-information-box">
		This is his bookshelf
	</div>

	<div id="user-settings" class="user-information-box">
		These are his settings
	</div>

	<div id="user-payment-shipping" class="user-information-box">
		This here is is his
	</div>
	<p id="test">afdsadfsads</p>
</div>