@{
    ViewData["Title"] = "Home Page";
}

<div class="panel panel-default">
	<div class="panel-heading panel-primary">Panel heading</div>
	<div class="panel-body">
		<ul>
			<li>Profile</li>
			<li>Orders</li>
			<li>Wish list</li>
			<li>Bookshelf</li>
			<li>Settings</li>
			<li>Payment and shipping</li>
		</ul>
	</div>
</div>

<div>

</div>