* {
	margin: 0px;
	padding: 0px;
}

#main-box {
	
}

#panel-box {
	border-color: black;
	border-style: solid;
	border-width: 1px;
}

.panel-selected{
	color: rgb(67, 67, 129);
	background-color:#d9edf7;
	font-weight: bold;
	font-size: 16px;
}

.line{
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	border-width: 1px;
}

.panel-body:hover{
	cursor: pointer;
}

#user-box {
	background: white;
	height: 100%;
}

#profile-image{
	width: 150px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
}

.profile-info{
	margin: 60px 15px;
	font-size: 24px;
}

.order-information{
	text-align: left;
	font-size: 14px;
}

.order-seperator-top{
	border-top-color: black;
	border-top-style: dashed;
	border-top-width: 1px;
}

.order-seperator-bottom{
	border-bottom-color: black;
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	margin-bottom: 5px;
}

.order-book{
	margin-top: 15px;
	margin-bottom: 15px;
}

.order-image{
	height: 200px;
	width: 150px;
	margin-left: 15px;
}

.is-hidden {
	display: none;
}