@model List<BookCave.Models.ViewModels.BookViewModel>

<head>
  <link rel="stylesheet" href="~/css/Home/index.css">
</head>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row1 col-sm-10 col-sm-offset-1">
<div class="col-sm-1"></div>
    @if(Model != null)
    {
    foreach(var book in Model)
    {
      <div class="book-item col-sm-2">
        <div class="item-img">
            <a asp-controller="Book" asp-action="Index" asp-route-id="@book.Id"><img src=@book.Image alt=@book.Title></a>
        </div>
          <p class="title">@book.Title</p>
          @book.Author <br/> 
          @book.Genre
      </div>
    }
    }
</div>