@model List<BookCave.Models.ViewModel.Book>

@{
    ViewData["Title"] = "Home Page";
}


<ul>
  @foreach(var book in Model)
  {
    <li>
      Title: @book.Title, 
      Author: @book.Author, 
      Genre: @book.Genre
    </li>
  }
</ul>
