
<head>
  <link rel="stylesheet" href="~/css/Home/index.css">
</head>

<div class="container">
  <div class="error col-sm-10 col-sm-offset-1">
    <div class="col-sm-8">
      <h4>Error 404</h4>
      <div class="well">
        <span class="error-text">Page not available...</span>
        <span class="error-text text-success">But Ingi is!</span>
      </div>

      <p>
        Ingi is a student at The university of Reykjavík studying computer science. 
        He is in good shape and works out regularly, he is smart and a good study with remarkable grades.
        Ingi isn't much for dealing with users and wants to specialize in data science. 
        He is an avid gamer and has over 900 item level in world of warcraft where he mains a warrior.
      </p>

      <p>If you are interested in meeting Ingi you can get in touch with him at 5812345.</p>

    </div>

    <div class="img-container col-sm-4">
      <img src="~/images/ingi.png" alt="Ingi =D" class="img-thumbnail">
    </div>
  </div>
</div>