table {
  background-color: white;
}

table, .table th, .table td {
  border: none !important;
  padding-bottom: 0px !important;
}

.table td {
  padding-top: 2px !important;
}

.table-container {
  padding-left: 0px;
  padding-bottom: 10px !important;
}

.shipping-item-info {
  background-color: white;
  padding: 10px;
  margin-bottom: 25px;
}

.order-overview {
  background-color: white;
}

#add-item {
  font-size: 60px;
  text-align: center;
  display:inline-block;
  text-align: center;
  vertical-align: bottom;
  margin: 28px 52px;
}

#add-item-container {
  height: 143px;
  width: 190px;
}