.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
#loginPopup {
    visibility: hidden;
    background-color: #fffffffe;
    color: grey;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translate(-50%);
    transform: translateY(-50%) translate(-50%);
    width:60em;
    height:36em;
}

/* Toggle this class - hide and show the popup */
.ShowOrHidePopup {
    visibility: visible !important;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}