@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
  font-family: 'Open Sans', 'sans-serif';
  background: #f0f0f0;
}

.row-width {
  margin-left: 0px;
  margin-right: 0px;
}

.mega-dropdown {
  position: static !important;
  width: 100%;
}

.dropdown-menu-width-override {
  min-width: 710px;
}

.navbar-fixed-top {
  position: relative;
}

body {
  padding: 0px;
}

.mega-dropdown-menu {
  margin-top: 49px;
  padding: 20px 0px;  
  box-shadow: none;
  -webkit-box-shadow: none;
}

.mega-dropdown-menu > li > ul > li {
  list-style: none;
}

.mega-dropdown-menu > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #999;
  white-space: normal;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: #444;
  background-color: green;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.mega-dropdown-menu .dropdown-header {
  color: #428bca;
  font-size: 18px;
  font-weight: bold;
}

.vertical-line-right {
    border-right: 1px solid #e5e5e5;
    margin-right: 0px !important;
}

.vertical-line-left {
    border-left: 1px solid #e5e5e5;
    margin-left: -1px !important;
}

.glyphicon {
    margin: 4px 3px;
    color: #fff;
}

.white-text {
  color: #fff;
}

.nav-item {
    margin: 15px;
    color: #fff;
    display: block;
    text-decoration: none;
}

.nav-item:hover {
  margin: 15px;
  color: #fff;
  display: block;
  text-decoration: none;
}

.nav-item:active {
  margin: 15px;
  color: #fff;
  display: block;
  text-decoration: none;
}

.nav-item:focus {
  margin: 15px;
  color: #fff;
  display: block;
  text-decoration: none;
}

.nav-height-control {
  height: 65px;
}

#account-pos {
  margin: 15px;
  display: block;
}

nav div div button {
  margin: 0px auto;
}

#cart-btn {
  margin: 8px;
}

@media (max-width: 600px) {
  #mega-menu-link {
    padding-left: 30px !important;
  }
}

#upper-nav {
  background-color: #1d480e;
}

#lower-nav {
  background-color: #8e948e;
}

div > form > input {
  margin: 10px 15px;
  width: 100%;
  height: 40px;
}

#search-btn {
  width: 30px;
  height: 30px;
  margin: 10px;
  right: 0px;
  top: 5px;
  position: absolute;
}

#logo {
  height: 50px;

}

#search-icon {
  display: block;
  text-align: center;
  margin: 0px -4px;
}

.social-size {
  width: 25px;
  height: 25px;
  margin: 5px;
}

.footer-settings {
  height: 100px;
}

.footer-settings h4 {
  color: rgb(197, 197, 197);
}

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -100px;
  /* Pad the bottom by footer height */
  padding: 0 0 120px;
}

html, body {
  height: 100%;
  margin: 0;
}

#shopping-cart-icon {
  font-size: 30px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

#shopping-cart-icon-container {
  display: table;
  height: 100%;
  width: 100%;
  height: 50px;
}

#shopping-cart-icon-container:hover {
  background-color: #6e706e;
  cursor: pointer;
  height:50px;
}

#shopping-cart-icon-container:active {
  background-color: #686868;
  cursor: pointer;
  height:50px;
}

#num-items-in-cart {
  color: white;
  font-weight: 700;
  margin-top: 10px;
  font-size: 26px;
}

#shopping-icon-link {
  text-decoration: none;
}

i.fas {
  color: black;
}

.created-by {
  color: #999;
}

.col-sm-1.nav-height-control a:hover {
  text-decoration: none;
}

#discount-link, #top-10-link, #mega-menu-link {
  padding-top: 13px;
  padding-bottom: 1px;
  margin: 0px;
  text-align: center;
  height: 50px;
  font-size: 17px !important;
}

.lower-nav-link-hover:hover, #shop-by-replacement:hover {
  background-color: #6e706e;
}

.lower-nav-link-hover:active, #shop-by-replacement:active {
  background-color: #686868;
}

.show-or-hide {
  display: block;
}

.lower-nav-active {
  background-color: #686868 !important;
}

#shop-by-replacement {
  height: 50px;
  width: 100%;
  border: 0px;
  background-color: #8e948e;
}

#mega-dropdown-container {
  padding-right: 0px;
  outline: 0;
  font-size: 17px;
  color: #fff;
}

.mega-item {
  width: 100% !important;
  text-align: left !important;
}

.created-by-li a:link, .created-by-li a:hover, .created-by-li a:visited, .created-by-li a:active {
  color: rgb(197, 197, 197);
  margin-top: 2px;
  text-decoration: none;
}

.created-by-ul {
  list-style-type: none;
}
