.book-item {
  padding: 0px;
}

.book-img {

  /*background-color: yellow;*/
}

.book-img img {
  max-height: 100%;
  max-width: 100%;
  margin: 0px auto;
  padding: 0px;
}

.book-details {
  /*background-color: red;*/
}

.book-checkout {
  /*background-color: green;*/
}

.book-description {
  /*background-color: blue;*/
}