.book-item {
  padding: 10px 0px;
  background-color: white;
  
}

.book-img img {
  max-height: 100%;
  max-width: 100%;

}

.book-descriptions {
  margin-top: 10px;
}

.book-checkout {
  background-color: white;
  padding: 10px;
  width: 16%; 
  margin-left: 10px;
}

#prev-price {
  text-decoration: line-through;
}

h3.price {
  margin-top: 0px;
}


div .book-moreDetails {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

div .book-moreDetails ul {
  margin-left: 10px;
}

hr {
  display: block;
  width: 100%;               
  background-color:lightgray;
  height: 0.5px;
  margin: 0px auto;
}

.btn {
  margin-top: 10px;
  width: 100%
}

div .book-all-reviews {
  background-color: white;
  margin-top: 10px;
}

div .book-review {
  margin: 10px auto;
}



.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}
 
.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}
 
.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}
 
.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}